.pg-home{
	background: url("../assets/imgs/bg.jpg") no-repeat;
}
.btn-Sair{
	background: transparent !important;
}
.home-img{
    margin: 0 auto 5% 15%;
    width: 220px;
    height: 100px;
}
.container2 {
	max-width: 500px;
	margin: 0 auto 0 auto;	
}
.flex2 {
	display: flex;
}
.btn-Home {
    height: 145px;
    width: 145px;
	margin: 2.5px;
	background: #ffffff;
	text-align: center;
	font-size: 1.5em;
	border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #c2c2a3;
    
}
.flex-wrap2 {
	flex-wrap: wrap;
}
.other{
	background: #ffffff;
	border-radius: 10px;
    padding: 10px;
	box-shadow: 3px 3px 3px 3px #c2c2a3;
	color: black;
}