.feedDet{
    overflow: auto;
    h3{
        font-size: 15px !important;
        font-weight: bold !important;
    }
    h2{
        font-size: 14px !important;
    }
}
.imgSol{
    font-family: 'Roboto';
	font-weight: bold;
	text-transform: uppercase;
    height: 10%;
    width: 100%;
    margin-bottom: 5%;
	background: #ffffff;
	text-align: center;
	font-size: 1em;
	border-radius: 10px;
	box-shadow: 1px 0.75px 1px 0.5px black;
    color: #02245f;
    img{
        width: 100%;
        height: 10%;
        border-radius: 10px;
    }
}
.bairro{
    text-transform: uppercase;
    font-weight: bold !important;
}